node_modules/
build/
.circleci/
.github/
.husky/
coverage/
dist/
logs
.husky
.github
.idea
.commitlintrc.json
.prettierrc.json
.env.example
.eslintignore
.eslintrc.json
appspec.yml
scripts
test
jest.config.ts
newrelic_agent.log
